body {
  font-family: Helvetica;
  background-color: #F9F0DC;
}

.headerClass {
  background-color: #282E33;
  color: white;
  padding: 15px 15px 15px 80px;
  margin: 0 0 20px;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}

.fa-cat {
  color: #F19D94;
  padding: 0 15px 0 0;
}

#buttonAndCounter {
  justify-content: space-between;
}

#insert-text {
  border-radius: 10px;
  outline: none;
  resize: none;
  font-size: 14px;
  padding: 10px 5px 5px;
  width: 37vw;
  height: 5vw;
  margin: 0 0 10px;
  border: 1px solid #282E33;
}

.button {
  background-color: #282E33;
  padding: 10px 23px;
  border-radius: 10px;
  border: none;
  color: white;
}

.button:disabled {
  background-color: rgb(132, 136, 139);
}

.pad1 {
  padding: 30px;
}

.pad2 {
  padding: 0 30px 10px;
}

.profile-section {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 15vw;
  height: auto;
}

.pic-tweets {
  width: 50px;
  height: 50px;
  margin: 5px 0 0;
}

.div-profile-pic {
  width: 10vw;
  height: 10vw;
  margin: 10px auto;
}

.profile-name {
  font-size: 24px;
  margin: 20px 0 10px;
  text-align: center;
  font-weight: bold;
}

.user {
  font-size: 16px;
  margin: 0 0 20px;
  text-align: center;
  color: rgb(132, 136, 139, 0.6);
}

.bio {
  font-size: 16px;
  margin: 0 0 20px;
  text-align: center;
}

.main-sections {
  background-color: white;
  border-radius: 10px;
  width: 39vw;
  margin: 10px;
}

.main-column {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

#feedId {
  flex-direction: column-reverse;
}

.feed {
  justify-content: center;
  border: none;
  border-bottom: 1.5px solid rgba(168, 168, 168, 0.1);
  margin: 0 0 10px;
}

.titleFeed {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #F19D94;
}

#remainingChar {
  padding: 0 15px;
}

.yellowCounter {
  color: rgb(247, 210, 0);
}

.redCounter {
  color: red;
}

.orangeCounter {
  color: rgb(255, 153, 0);
}

.blackCounter {
  color: black;
}

.hide {
  display: none;
}

.div-user {
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 0 5px;
}

.display-flex {
  display: flex;
}

.class-profile {
  align-items: center;
}

hr {
  width: 40vw;
  border: none;
  border-bottom: 1.5px solid rgba(168, 168, 168, 0.1);
}

.profile-pic {
  background-image: url('Images/avatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.tweetParagraph {
  background-color: rgb(240, 193, 174, 0.2);
  border-radius: 10px;
  padding: 2vw 1.5vw 1.5vw;
  margin: 5px 5px 10px;
  word-wrap: break-word;
  font-size: 16px;
  white-space: pre-wrap;
  flex-direction: column;
}

.hourMinute {
  font-size: 12px;
  align-self: flex-end;
  justify-self: flex-end;
}