body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(226, 233, 255);
}

#insert-text {
    border-radius: 10px;
    outline:none;
    resize: none;
    font-size: 14px;
    padding: 10px;
    width: 37vw;
    height: 5vw;
}

.button {
    background-color: rgb(155, 13, 67);
    padding: 10px 23px;
    border-radius: 10px;
    border: none;
    color: white;
}

.button:disabled {
    background-color: rgb(133, 110, 119);
}

main {  
    width: 39vw;
    margin: 0 auto;
}

#feed {
    display: flex;
    flex-direction: column-reverse;
}

.titleFeed {
    font-family: ;
    font-size: 24px;
    color: rgb(155, 13, 67);
}

.yellowCounter {
    color: yellow;
}

.redCounter {
    color: red;
}

.hide {
    display: none;
}

p {
    background-color: white;
    border-radius: 10px;
    padding: 0.7vw;
    word-wrap: normal;
}